@tailwind base;
@tailwind components;
@tailwind utilities;

.centered {
  justify-content: center;
  align-items: center;
}

.gradient-background {
  background: linear-gradient(160deg, #c20000 ,#000000, #000000);
  background-size: 300% 150%;
  animation: gradient-animation 14s ease infinite alternate;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
